<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/emonarafat/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="emonarafat" />
            <add key="ClearTextPassword" value="aceca81dfc4c84952eadcc50a8749ba5e43a792b" />
        </github>
    </packageSourceCredentials>
</configuration>